<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
    <style>
        /* Centering the content */
        .container {
            text-align: center;
            margin-top: 50px;
        }

        .add-student-button {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

        .add-student-button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
<header th:include="fragments/header">

</header>

<div class="container">
    <h1>Welcome to the Student List</h1>
    <p>Here you can find the list of students and add new students to the system.</p>
    <a th:href="@{/students}"> <button class="add-student-button">  Students Page  </button> </a>
</div>
</body>
</html>
